.Rhistory
.RData
.Rproj.user/
renv/library/
renv/staging/
renv/python/
data/**/*
!data/**/.gitkeep
inputs/**/*
!inputs/**/.gitkeep
outputs/**/*
!outputs/excel_final/.gitkeep
!outputs/reportes/.gitkeep
!outputs/auditoria/.gitkeep
